<!--global-->

body{
	font-family:Arial,Helvetica,sans-serif;
	font-size:16px;
	line-height:1.6em;
	padding:0;
	margin:0;
	background-color:#f4f4f4;
	overflow:hidden;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

 ul{
	margin:0;
	padding:0;
}

#header{
	background:#35424a;
	color:white;
	padding-top:30px;
	min-height:70px;
	border-bottom:#611a21 4px solid;
	
}
#header a{
	color:white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
#header li{
	float:left;
	display:inline;
	padding-left:20px;
}
#header #brandname{
	float:left;
}
#header #brandname h1{
	margin:0;
}
#header nav{
	float:right;
	margin-top:10px;

}
#header .highlight, #header .activ a{
	color:#6d0d0d;
	font-weight: bold;
}
#header a:hover{
	color:	#800000;
	font-weight:bold;
}	


#showcase{
	min-height: 400px;
	background-image:url(img/w.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
	color:#ffffff;
}
#showcase h1{
	margin-top:100px;
	font-size:80px;
	margin-bottom:10px;
}
#showcase p{
	font-size:20px;
}

#joinus{
	padding:15px;
	color:#ffffff;
	background-color: #35424a;
}
#joinus h1{
	float:left;
}
#joinus form{
	float:right;
	margin-top:15px;
}
#joinus input[type="e-mail"]{
	padding:4px;
	height:25px;
	width:250px;
}
button{
	height:38px;
	background-color:#6d0d0d;
	border:none;
	padding-left: 30px;
	padding-right: 30px;
	color:#ffffff; 
}

#boxes{
	margin-top:20px;
}
#boxes .box{
	float:left;
	width:30%;
	padding:10px;
	text-align: center;
}
#boxes img{
	height:120px;
}


footer{
	background-color: #35424a;
	padding:20px;
	margin-top:20px;
	color:#ffffff;
	text-align:center;
}





#art h1{
	font-size:40px;
	color:#666;
}
#art p{
	line-height:1.4em;
	font-size:23px;
	color:#666;
}
#price h3{
	font-size:30px;
	color:#666;
}

#price{
	text-align:center;
}
#price p{
	font-size:25px;
}